 <footer class="navbar bg-dark border-top border-body" data-bs-theme="dark">
        <div class="container-fluid d-flex justify-content-between align-items-center mx-5 pt-3">
            <p class="text-light">WinBig Enterprises &copy 2024</p>
            <p class="text-light">Developed by Will, Vinny, Josh, Anthony</p>
        </div>
    </footer>
