 <footer class="navbar bg-dark border-top border-body" data-bs-theme="dark">
    <div class="container-fluid d-flex justify-content-between align-items-center mx-5 pt-3">
        <p class="text-light">&copy2024 WinBig Enterprises</p>
        <img src="/assets/images/site-logo.svg" width="50px" class="pb-3">
        <p class="text-light">Developed by Will, Vin, Josh, Ant</p>
    </div>
</footer>
