
        <aside class="sidebar-menu bg-dark">
            <div class="d-flex justify-content-center">
                <h5 class="logged-out mx-5 text-light pt-5 display-5">Login:</h5>
            </div>
            <div class="px-5 ms-1">
                <form action="/api/users/auth/login" method="POST"class="register-form">
                    <input class="text-input row mt-3 form-control" name="username"   type="text" placeholder="Enter username">
                    <input class="text-input row mt-3 form-control" name="password"   type="password" placeholder="Enter password">
                    <button class="btn btn-success row mt-3 form-control" id="search-btn"  type="submit">Login</button>
                </form>
                <a class="nav-link pt-3 text-info" id="sidebar-link" href="/register">New Users: Register Here</a>
            </div>
        </aside>