        <aside class="sidebar-menu bg-dark" data-bs-theme="dark">
            <div class="d-flex justify-content-center">
                <h5 class="text-light px-5 pt-5">Login or Register:</h5>
            </div>
            <hr / class="border-light">
            <div class="navbar-nav px-5 ms-2">
                <a class="nav-link" href="/register">New Users: Register Now</a>
                <a class="nav-link" href="/login">Returning Users: Login</a>
            </div>
        </aside>