   	{{!-- <link rel="stylesheet" href="/assets/css/coin-styles.css"> --}}

   
    <aside class="sidebar-menu bg-dark" data-bs-theme="dark">
        <div class="justify-content-center ms-2">

            <h5 class="user-text display-6  text-light px-5 pt-5">Account: <span class="span-user">{{username}}</span> </h5>
            <p class="balance-text h4 text-light px-5 pt-1">Credit Balance: <span id="side-balance" class="text-success">{{balance}}</p>

        </div>
        <div class="pt-3">
            <form action="/api/users/auth/logout" method="GET" class="logout-form px-5">
                <button class="btn btn-success row mt-3 ms-1 form-control" id="logout-btn"  type="submit">Log Out</button>
            </form>
        </div>
    </aside>
