    <aside class="sidebar-menu bg-dark" data-bs-theme="dark">
        <div class="justify-content-center ms-2">
            <h5 class="text-light px-5 pt-5">Account: (username) </h5>
            <p class="text-light px-5 pt-1">Credit Balance: (<span class="text-success">$</span>)</p>
        </div>
        <div>
            <form class="bet-form px-5">
                <input class="bet-input row mt-3 ms-1 form-control" id="bet-input"  type="text" placeholder="Enter Bet Amount">
                <button class="btn btn-success row mt-3 ms-1 form-control" id="bet-btn"  type="submit">Place Bet</button>
            </form>
        </div>
    </aside>
