<form action="/api/users/auth/login" method="POST"class="register-form px-5">
    <input class="text-input row mt-3 ms-1 form-control" name="username"   type="text" placeholder="Enter your username">
    <input class="text-input row mt-3 ms-1 form-control" name="password"   type="password" placeholder="Enter your password">
    <button class="btn btn-success row mt-3 ms-1 form-control" id="search-btn"  type="submit">Login</button>
</form>