<!DOCTYPE html>
<html lang="en">
  {{>head}}

<body>


  {{#if isLoggedIn}}
      {{> navbarLoggedIn user}}
  {{else}}
      {{> navbarLoggedOut}}
  {{/if}}
 
  {{{ body }}}

  {{>footer}}
   
</body>
</html>