<main class="d-flex">
    {{#if isLoggedIn}}
        {{> loggedInSidebar user}}
    {{else}}
        {{> loggedOutSidebar}}
    {{/if}}
    <section id="main-content" class="row justify-content-center">
    <div class="container">
        <div class="row justify-content-center">
            <h1 class="text-center pt-5">Welcome to WinBig, an online fully digital mock casino!</h1>
            {{!-- <p class="text-center pt-3">We are dedicated to providing our users with an exciting and rewarding gaming experience.</p> --}}
            <div class="card text-white text-center bg-dark w-75 p-3">
                <h3 class="card-header" id="techstack-header-title">Before You Win Big, Learn More About Us</h3>
                <div class="card-body">
                    <h5 class="card-title">The Following Technologies Have Been Used On This Project:</h5>
                    <div class="d-flex flex-row pt-3 justify-content-between">
                        <div class="col-1"><img src="/assets/images/html-5-icon.svg" height="50px"></div>
                        <div class="col-1"><img src="/assets/images/css-3-icon.svg" height="50px"></div>
                        <div class="col-1"><img src="/assets/images/javascript-icon.svg" height="50px"></div>
                        <div class="col-1"><img src="/assets/images/node-js-icon.svg" height="50px"></div>
                        <div class="col-1"><img src="/assets/images/postgreSQL-icon.svg" height="50px"></div>
                        <div class="col-1"><img src="/assets/images/npm-downloads-icon.svg" height="50px"></div>
                        <div class="col-1"><img src="/assets/images/vscode-icon.svg" height="50px"></div>
                    </div>
                    <p class="card-text pt-3">The above tech stack was recommended as part of Rutgers Coding Bootcamp curriculum.</p>
                    <a href="/play" class="btn btn-success">Now Let's Go Play Some Games!</a>
                </div>
            </div>
            {{!-- <H2 class="text-center pt-3 h3">Before You Win Big, Learn More About Us</h2> --}}
            <div class="column col-md-6 p-5">
                <H3 class="text-center">WinBig Inception</H3>
                <p>The idea for WinBig started as a Full-Stack software programming challenge. It's a fun concept project that pushed its creators to learn new software technologies as they built out this website/web application. In terms of Front-End coding done on the site, HTML 5, CSS 3, and JavaScript were used.</p>
                <p>Back-End coding and programming was done utilizing shell scripting in the command line terminal with <a class="userpage-links" href="https://nodejs.org/en">Node.js</a> and <a class="userpage-links" href="https://www.npmjs.com/">NPM</a> (Node Package Manager) installs, specifically <a class="userpage-links" href="https://expressjs.com/">Express.js</a> and <a class="userpage-links" href="https://handlebarsjs.com/">Handlebars.js</a> (templating engine that renders HTML templates). Once finished, the application was deployed unto the <a class="userpage-links" href="https://www.heroku.com/">Heroku</a> cloud platform. Combined, all of the above made this project a Full-Stack Application.</p>
            </div>
            <div class="column col-md-6 p-5">
                <H3 class="text-center">Our Contributors</H3>
                <p>Meet the Team behind the creation and deployment of WinBig. The following people have contributed to the application:</p>
                <h5 class="text-center">Click Each of Our Names to Find Us on GitHub!</h5>
                <div class="pt-3">
                    <h5><a class="userpage-links" href="https://github.com/EvilDogma">William Gallagher</a></h5>
                    <h5><a class="userpage-links" href="https://github.com/vgalante2">Vincent Galante</a></h5>
                    <h5><a class="userpage-links" href="https://github.com/EvilDogma">Joshua Bruin</a></h5>
                    <h5><a class="userpage-links" href="https://github.com/apurificato">Anthony Purificato</a></h5>
                </div>
            </div>
        </div>
    </div>
    </section>
</main>