<main class="d-flex row">
    <div class="container">
        <div class="row justify-content-center">
            <H1 class="text-center pt-5">Before You Win Big With Us, Learn More About Us</H1>
            <div class="column col-md-6 p-5">
                <H3 class="text-center">Before You Win Big With Us, Learn More About Us</H3>
                <p>Welcome to WinBig casino! We are dedicated to providing you with an exciting and rewarding gaming experience</p>
                <p>Our app offers </p>
            </div>
            <div class="column col-md-6 p-5">
                <H3 class="text-center">Before You Win Big With Us, Learn More About Us</H3>
                <p>Welcome to WinBig casino! We are dedicated to providing you with an exciting and rewarding gaming experience</p>
                <p>Our app offers </p>
            </div>
        </div>
    </div>
</main>