	<link rel="stylesheet" href="/assets/css/coin-styles.css">
        <div class="coin-container"> 
			<h1 class="title"> 
				Coin Toss Game
			</h1> 
			<h3> 
				Coin Toss using HTML, 
				CSS, and JavaScript 
			</h3> 
			<br /> 
			<div class="coin" id="coin"> 
				<img src="/assets/images/coin.gif" alt="Heads"
				/> 
			</div> 
			<button id="toss-button"> 
				Toss Coin 
			</button> 
		</div> 
		<p class="result"></p> 
		<script src="/assets/js/coin-toss-script.js"></script>