<link rel="stylesheet" href="/assets/css/dice-styles.css">   
    <section class=" ">
        <h2 class="text-center text-light p-5">Place a Bet and Roll the Die!</h2>


{{!-- <div class="d-flex justify-content-center mb-5">
 
    <section id="main-content" class="d-flex row justify-content-center">
        <h1 class="pt-3 text-center">lets roll some dice {{coin.username}}</h1>
        <section class="d-flex row mt-3">
            {{>card die}}
        </section>
    </section>

    
</div> --}}



        <div class="dice">
        <ol class="die-list even-roll" data-roll="1" id="die-1">
            <li class="die-item" data-side="1">
            <span class="dot"></span>
            </li>
            <li class="die-item" data-side="2">
            <span class="dot"></span>
            <span class="dot"></span>
            </li>
            <li class="die-item" data-side="3">
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
            </li>
            <li class="die-item" data-side="4">
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
            </li>
            <li class="die-item" data-side="5">
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
            </li>
            <li class="die-item" data-side="6">
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
            </li>
        </ol>
        {{!-- <ol class="die-list odd-roll" data-roll="1" id="die-2">
            <li class="die-item" data-side="1">
            <span class="dot"></span>
            </li>
            <li class="die-item" data-side="2">
            <span class="dot"></span>
            <span class="dot"></span>
            </li>
            <li class="die-item" data-side="3">
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
            </li>
            <li class="die-item" data-side="4">
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
            </li>
            <li class="die-item" data-side="5">
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
            </li>
            <li class="die-item" data-side="6">
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
            </li>
        </ol> --}}
        </div>
    </section>
    {{!-- <button data-event="{{die.event_id}}" data-user="{{die.user_id}}"type="button" id="roll-button">Roll Dice</button> --}}
    {{>diecard die}}
    <script src="/assets/js/dice_script.js"></script>