
<main class="d-flex">
    {{#if isLoggedIn}}
        {{> loggedInSidebar user}}
    {{else}}
        {{> loggedOutSidebar}}
    {{/if}}
    <section class="row w-100">
        <div class="d-flex align-items-center justify-content-center flex-column">
            <h1>Need Some Coin? {{user.username}}</h1>
            <div class="d-flex align-items-center justify-content-center flex-column" id="guessContainer" style="display: none;">
                <p>Guess a number between 0 and 5 to win $50:</p>
                <input type="number" id="guessInput" min="0" max="5">
                <button type="button" onclick="checkGuess()">Submit</button>
            </div>
        </div>
    </section>

</main>

<script src="/assets/js/free.js"></script>