  <main class="d-flex">
        <aside class="city-search-sidebar bg-dark">
            <div class="d-flex justify-content-center">
                <h3 class="text-light px-5 pt-5">Login to Your Account</h3>
            </div>
            <div>
                <form class="search-form px-5">
                    <input class="text-input row mt-3 ms-1 form-control" id="username-input"  type="text" placeholder="Enter your username">
                    <input class="text-input row mt-3 ms-1 form-control" id="password-input"  type="text" placeholder="Enter your password">
                    <button class="btn btn-success row mt-3 ms-1 form-control" id="search-btn"  type="submit">Search</button>
                    <hr />
                </form>
                <!-- <hr / class="border-primary-subtle">
                <section id="search-history"></section> -->
            </div>
            <hr / class="border-primary-subtle">
        </aside>
        <section id="forecast-content" class="d-flex row justify-content-center">
            <h1 class="pt-3 forecast-title">Are you ready to Win Big?</h1>
                <section class="d-flex row mt-3" id="forecast-section">
                </section>
        </section>
    </main>