<main class="d-flex">
    {{#if isLoggedIn}}
        {{> loggedInSidebar coin}}
    {{else}}
        {{> loggedOutSidebar}}
    {{/if}}

    <section id="main-content" class="d-flex row justify-content-center">
        <h1 class="pt-3 text-center">Play a Game And Win Now, {{coin.username}}</h1>
        <section class="d-flex row mt-3">
            {{>card coin}}
        </section>
        <section class="d-flex row mt-3">
            {{>card die}}
        </section>
    </section>
</main>