<main class="d-flex row">
    {{#if isLoggedIn}}
        {{> loggedInSidebar vars }}
    {{else}}
        {{> loggedOutSidebar}}
    {{/if}}
    
    <section id="main-content" class="d-flex row justify-content-center">
        <h1 class="pt-3 text-center">Play a Game And Win Now</h1>
        <section class="d-flex row mt-3">
        </section>
    </section>
</main>