/* RESETS */
* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    flex-direction: column
}


/* CUSTOM STYLES */
.navbar-brand {
    font-size: 30px;
    padding-left: 10px;
}

.nav-link:hover {
    color: #ffc422;
}

main {
    /* padding: 0 3%; */
    flex: 1;
    /* display: grid;
    grid-template-columns: 1fr 1fr; */
    gap: 15px;
}

main section {
    padding: 15px;
}

.sidebar-menu {
    width: 25%
}

#main-content {
    width: 75%;
}

/* RESPONSIVE */
@media (max-width: 768px) {

    /* .sidebar-menu {
        width: 35%;
    }

    #main-content {
        width: 65%;
    } */

    .sidebar-menu {
        visibility: hidden;
        width: 0%;
    }

    #main-content {
        width: 100%;
    }

    #main-content h1 {
        font-size: 24px;
    }
}