@import url('https://fonts.googleapis.com/css2?family=Jersey+15&display=swap');

/* VARS */

:root {
    --primary-font: "Jersey 15", sans-serif;
}


/* RESETS */
* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    flex-direction: column
}


/* CUSTOM STYLES */
/* .logo-title {
    color: var(--main-color);
} */
.navbar-brand {
    font-size: 30px;
    padding-left: 10px;
}

.nav-link:hover {
    color: #ffc422;
}

.brand {
    font-family: var(--primary-font);
}

main {
    /* padding: 0 3%; */
    flex: 1;
    /* display: grid;
    grid-template-columns: 1fr 1fr; */
    gap: 15px;
}

main section {
    padding: 15px;
}

.sidebar-menu {
    width: 20%
}

#main-content {
    width: 80%;
}

.forecast-title {
    text-align: center;
}

/* RESPONSIVE */

@media (max-width: 768px) {
    /* .logo {
        font-size: 20px;
    }
    h1 {
        font-size: 40px;
    }
    h2 {
        font-size: 28px;
    }
    figure {
        flex-direction: column;
        align-items: center;
    }
    figure .profile-image-wrap {
        max-width: 50%;
        margin-right: 0;
    } */
    .sidebar-menu {
        width: 50%
    }

    #main-content {
        width: 50%;
    }

}

.coin-img {
    max-height: 200px;
   width: auto;
}
.dice-img {
    max-height: 200px;
    width: auto;
   
}
.heading {
    font-family: var(--primary-font);
    
}

.user {
    color: #2ebf6b;
    font-family: var(--primary-font);
}

.game-heading {
    font-family: var(--primary-font);
}


#coin {
    transition: transform 0.3s ease;
}

#coin:hover {
    transform: scale(1.1);
}

#dice {
    transition: transform 0.3s ease;
}

#dice:hover {
    transform: scale(1.1);
}

.question-heading {
    font-family: var(--primary-font);
    color: rgb(187, 136, 248);
    
}