@import url('https://fonts.googleapis.com/css2?family=Jersey+15&display=swap');

/* VARS */

:root {
    --primary-font: "Jersey 15", sans-serif;
}

/* .carousel-control-prev {
    height: 20% !important;
} */

.logged-out {
    font-family: var(--primary-font);
}

/* SIDE BAR ACCOUNT INFO */
.user-text {
    font-family: var(--primary-font);
    
}

.free {
    color: rgb(208, 151, 255);
}


.home-heading {
    font-family: var(--primary-font);
}

span {
    font-family: var(--primary-font);
}

.span-user {
    color: #ea97ff;
}

.balance-text {
    font-family: var(--primary-font);
}

/* RESETS */
* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    flex-direction: column
}


/* CUSTOM STYLES */
.navbar-brand {
    font-size: 30px;
    padding-left: 10px;
}

.nav-link:hover {
    color: #ffc422;
}

.brand {
    font-family: var(--primary-font);
}

main {
    /* padding: 0 3%; */
    flex: 1;
    /* display: grid;
    grid-template-columns: 1fr 1fr; */
    gap: 15px;
}

main section {
    padding: 15px;
}

.sidebar-menu {
    width: 25%
}

#main-content {
    width: 75%;
}


.coin-img {
    max-height: 200px;
   width: auto;
}
.dice-img {
    max-height: 200px;
    width: auto;
   
}
.heading {
    font-family: var(--primary-font);
    
}

.user {
    color: #2ebf6b;
    font-family: var(--primary-font);
}

.game-heading {
    font-family: var(--primary-font);
}


#coin {
    transition: transform 0.3s ease;
}

#coin:hover {
    transform: scale(1.1);
}

#dice {
    transition: transform 0.3s ease;
}

#dice:hover {
    transform: scale(1.1);
}

.question-heading {
    font-family: var(--primary-font);
    color: rgb(86, 156, 255);
}

/* USER PAGE UPDATE */

#user-background { 
	background: radial-gradient(circle, rgb(244, 131, 179) 0%, rgba(148,187,233,1) 100%);
} 

/* RESPONSIVE */
@media (max-width: 768px) {

    /* .sidebar-menu {
        width: 35%;
    }

    #main-content {
        width: 65%;
    } */

    .sidebar-menu {
        visibility: hidden;
        width: 0%;
    }

    #main-content {
        width: 100%;
    }
  
    #main-content h1 {
        font-size: 24px;
    }
}


